/*менюшки в 2 колонки, все остальное в одну grid*/

body {
    margin: 0;
    font-size: 2vh;
}
/* МЕНЮ */
nav {
    margin-top: 5px;
    width: 100%;
    border-top-style: double;
    border-bottom-style: double;
    border-color: #BBB;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}

nav .active {
    border-left-style: double;
    border-right-style: double;
}

nav li:first-child a {
    color: green;
    font-weight: bold;
}

.content {
    width: 90%;
    margin: 1% auto;
}

.pictures-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.8fr 1fr;
    grid-template-areas:
        "grey green green"
        "brown green green"
        "red red blue";
    height: 300px;
}

.pictures-block img {
    object-fit: cover;
    min-height: 0;
}

.pictures-block img:nth-child(1) {
    grid-area: grey;
}

.pictures-block img:nth-child(2) {
    grid-area: brown;
}

.pictures-block img:nth-child(3) {
    grid-area: green;
}

.pictures-block img:nth-child(4) {
    grid-area: red;
}

.pictures-block img:nth-child(5) {
    grid-area: blue;
}

.articles-block {
    display: flex;
}

.articles-block .section:nth-child(1) {
    border-right: solid thin black;
    text-align: right;
    width: 20%;
}

.articles-block .section:nth-child(2) {
    width: 60%;
}

.articles-block .section:nth-child(3) {
    text-align: left;
    border-left: solid thin black;
    width: 20%;
}

.articles-block h3 {
    text-align: center;
}

article {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    word-wrap: break-word;
}

article .text-block {
    width: 45%;
}

article .image-block {
    width: 45%;
}

/* СРЕДНИИЙ БЛОК СО СТАТЬЯМИ */
.articles-block .section:nth-child(2) article:nth-child(1) {
    flex-wrap: wrap;
}

.articles-block .section:nth-child(2) article:nth-child(1) .content {
    width: 50%;
    margin: 0 auto;
}

.articles-block .section:nth-child(2) article:nth-child(1) h3 {
    width: 100%;
    text-align: center;
}

.articles-block .section:nth-child(2) article:first-child .text-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.articles-block .section:nth-child(2) article:first-child .text-block p {
    width: 45%;
    margin-top: 0;
    margin-bottom: 2%;
}

.articles-block .section:nth-child(2) article:first-child .text-block > div {
    width: 100%;
    text-align: right;
}

.articles-block .section:nth-child(2) article:first-child .image-block {
    width: 45%;
}

.articles-block .section:nth-child(2) article:last-child .text-block {
    width: 100%;
    text-align: right;
}

.articles-block .section:nth-child(2) article:last-child .text-block h3 {
    text-align: center;
}

.articles-block .section:nth-child(2) article:last-child .text-block p {
    text-align: justify;
}

a {
    text-decoration: underline;
    color: saddlebrown;
}

p {
    text-align: justify;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    font-weight: bold;
    border-top: double #BBB;
}

footer p {
    text-align: center;
}

@media all and (max-width: 1000px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav li {
        width: 45%;
        text-align: center;
    }

    nav .active {
        border-style: none;
    }

    .articles-block {
        flex-direction: column;
        width: 100%;
    }

    .articles-block .section {
        width: 100%;
        border-right: none;
        border-left: none;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    article .text-block,
    article .image-block {
        width: 100%;
        text-align: center;
    }

    .articles-block .section:nth-child(1) {
        width: 100%;
        border-right: none;
    }

    .articles-block .section:nth-child(2) {
        width: 100%;
    }

    .articles-block .section:nth-child(2) article:nth-child(1) .content {
        width: 100%;
    }

    .articles-block .section:nth-child(3) {
        width: 100%;
        border-left: none;
    }

    article p {
        text-align: left;
    }
}