mainColor = #333
accentColor = #4CAF50
borderColor = #000
linkColor = saddlebrown

body
  color mainColor
  margin 0
  padding 0
  font-size 1.25em

// --- Миксин для ховера ---
img-hover-effect()
  &:hover
    transform scale(1.05)

// --- Меню ---
.menu
  width 100%
  border-bottom-style double
  border-color borderColor
  background-color bgColor

  &__list
    display flex
    justify-content center
    list-style-type none
    margin 0
    padding 0
    @media (max-width: 1000px)
      flex-wrap wrap

  &__item
    padding 1%
    @media (max-width: 1000px)
      width 100%
      text-align center
    &--active .menu__link
      color accentColor
      font-weight bold
    &--active
      border-left-style double
      border-right-style double
      @media (max-width: 1000px)
        border-style none

  &__link
    text-decoration none
    color mainColor
    font-size 1.25em
    &:hover
      color accentColor

// --- Галерея ---
.gallery-grid
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-template-rows 200px 200px 200px
  padding 20px
  max-width 1750px
  margin 0 auto

  &__item
    img
      width 100%
      height 100%
      img-hover-effect()

    &--wide
      grid-column 2 / 4
      grid-row 1 / 3

    &--long
      grid-column 1 / 3

// --- СТАТЬИ ---
.main-layout
  display grid
  grid-template-columns 20% 1fr 20%
  gap 20px
  padding 20px
  max-width 1750px
  margin 0 auto

  @media (max-width: 1000px)
    grid-template-columns 1fr

  &__col
    display flex
    flex-direction column
    gap 20px

    &--left
      border-right 1px solid borderColor
      padding-right 10px

    &--right
      border-left 1px solid borderColor
      padding-left 10px

// --- Карточки ---
.card
  display flex
  justify-content space-between
  word-wrap break-word

  &__content
    width 45%
    @media (max-width: 1000px)
      width 100%
      text-align center

  &__image-box
    width 45%
    height 100%

  &__img
    width 100%
    height 100%
    img-hover-effect()

  &__title
    text-align center

  &__text
    text-align justify

  &__link
    color linkColor
    text-decoration underline
    cursor pointer
    &:hover
      color accentColor

// --- Центральный блок ---
.central-block
  display grid
  grid-template-columns 0.6fr 0.4fr
  grid-template-rows auto auto
  grid-gap 15px
  word-wrap break-word

  &__title
    width 100%
    grid-column 1/3
    text-align center

  &__body
    display grid
    grid-template-columns 1fr 1fr
    gap 15px
    @media (max-width: 1000px)
      grid-template-columns 1fr

  &__text
    display grid
    grid-template-columns 1fr 1fr
    grid-template-rows auto auto
    column-gap 5%
    text-align justify

  &__text a
    grid-column 1/3
    text-align right

  &__img
    height 100%

    img
      width 100%
      height 100%
      img-hover-effect()

  &--bottom
    grid-template-rows 1fr 1fr 1fr
    grid-template-columns 1fr 1fr
    grid-gap 0

    h3
      text-align center
      margin 0
      grid-column 1/3

    p
      text-align justify
      width 100%
      margin-bottom 0
      grid-column 1/3

    a
      text-align right
      grid-column 1/3

// --- Каталог животных ---
main.container
  width 80%
  margin 0 auto

.data-table
  width 100%
  border-collapse collapse
  th, td
    border 1px solid borderColor
    padding 8px
  th
    background-color #eee

// --- Футер ---
.footer
  text-align center
  padding 20px
  background #333
  color #fff
  margin-top 20px

// --- Детальная ---
main.container h1
  text-align center
  margin-bottom 30px

.detail-view
  display flex
  flex-direction column
  align-items center

  // Картинка
  &__img
    border-radius 10px
    margin-bottom 30px

  &__info
    width 100%
    max-width 1000px

    display grid
    grid-template-columns 1fr 1fr
    gap 30px
    text-align justify

    .card__link
      grid-column 1 / -1
      text-align center
      font-size 1.25em

// --- Средний---
@media (max-width: 1500px)

  .gallery-grid
    grid-template-columns 1fr 1fr
    grid-template-rows auto auto auto

  .main-layout
    grid-template-columns 1fr 1fr
    gap 15px

    &__col--center
      grid-column 1 / -1
      grid-row 1
      border-bottom 1px solid borderColor
      padding-bottom 20px
      margin-bottom 10px

    &__col--left
      grid-column 1 / 2
      grid-row 2
      border-right 1px solid borderColor
      border-bottom none
      padding-right 10px

    &__col--right
      grid-column 2 / 3
      grid-row 2
      border-left none
      padding-left 10px

  .card
    flex-direction column
    align-items center

    &__image-box
      width 100%
      margin-bottom 10px

    &__content
      width 100%
      text-align center

// --- Маленький ---
@media (max-width: 800px)

  // --- Главная ---

  .main-layout
    border-top solid 1px borderColor
    display flex
    flex-direction column

    &__col
      border none
      margin 0 auto
      padding 0 5%

      &--right
        order -1

  .card
    flex-direction column
    margin 0 auto

    &__image-box
      width auto
      margin 0 auto
      order -1
      margin-bottom 15px

  .central-block
    display flex
    flex-direction column
    grid-gap 0

    &__text
      display flex
      flex-direction column
      p
        width 100%
      a
        margin 0 auto
        margin-top 10px

    &__img
      order -1
      width 100%
      margin 0 auto
      margin-bottom 15px
      img
        width 100%

    &--bottom a
      margin 0 auto
      margin-top 15px

  .gallery-grid
    display flex
    flex-direction column
    gap 10px

  // --- Детальная ---
  .detail-view

    &__info
      display flex
      flex-direction column
      gap 0

    &__img
      width 100%