#list {
    border-spacing: 0;
    width: 100%;
}

#list th, #list td {
    border: thin solid lightgrey;
    padding: 8px;
}

#list th {
    background-color: darkgrey;
    font-weight: bold;
}

#list td {
    text-align: left;
}

#list tr {
    background-color: #f5f5f5;
}

.forms-container {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}


#filter p label {
    width: 80px;
    display: inline-block;
}

#yearFrom, #yearTo, #heightFrom, #heightTo {
    width: 65px;
}