body {
    margin: 0;
    font-size: 2vh;
}
/* МЕНЮ */
.menu {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    border-top-style: double;
    border-bottom-style: double;
    border-color: #BBB;
}

.menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu li {
    display: inline-block;
    height: 100%;
    padding: 1%;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}

.menu .active {
    border-left-style: double;
    border-right-style: double;
}

.menu .active a {
    color: green;
    font-weight: bold;
}

.content {
    width: 90%;
    margin: 1% auto;
}
/* БЛОК С КАРТИНКАМИ */
.pictures-block {
    display: inline-block;
    height: 60vh;
    width: 100%;
}

.pictures-block .left-block {
    float: left;
}

.pictures-block .right-block {
    float: right;
}

.pictures-block .top-block {
    height: 62%;
}

.pictures-block .top-block .left-block {
    width: 30%;
    height: 100%;
}

.pictures-block .top-block .left-block .top-block {
    width: 100%;
    height: 55%;
}

.pictures-block .top-block .left-block .bottom-block {
    width: 100%;
    height: 45%;
}

.pictures-block .top-block .right-block {
    width: 70%;
    height: 100%;
}

.pictures-block .bottom-block {
    height: 38%;
}

.pictures-block .bottom-block .left-block {
    width: 70%;
    height: 100%;
}

.pictures-block .bottom-block .right-block {
    width: 30%;
    height: 100%;
}
/* ОБЩИЕ СО СТАТЬЯМИ */

.section {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
/* ЛЕВАЯ СЕКЦИЯ СО СТАТЬЯМИ */
.left-section {
    border-right: solid thin black;
    height: 100%;
    width: 20%;
}
/* СРЕДНЯЯ СЕКЦИЯ СО СТАТЬЯМИ */
.middle-section {
    height: 100%;
    width: 60%;
}

.middle-section .top-block .text-block p {
    display: inline-block;
    width: 45%;
    margin: 0 2%;
}

.middle-section .bottom-block {
    margin-top: 0;
    margin-bottom: 0;
}

.middle-section .bottom-block .text-block {
    width: 100%;
}

.middle-section .bottom-block p {
    padding: 0 5%;
}

.middle-section .bottom-block a {
    padding: 0 5%;
}
/* ПРАВАЯ СЕКЦИЯ СО СТАТЬЯМИ */
.right-section {
    border-left: solid thin black;
    height: 100%;
    width: 20%;
}
/* ОБЩИЕ ОТДЕЛЬНОЙ СТАТЬИ */
.article {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 2em 0;
}

.article .left-block {
    margin-right: 1%;
}

.article .right-block {
    margin-left: 1%;
}

.article .text-block {
    display: inline-block;
    width: 45%;
    height: 20vw;
}

.article .image-block {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 20vw;
    overflow: hidden;
}

.article .text-block p {
    text-align: justify;
}

.article .text-block a {
    float: right;
    text-decoration: underline;
    color: saddlebrown;
}

.pictures-block img, .articles-block img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.footer {
    text-align: center;
    font-weight: bold;
    border-top: double #BBB;
}

h3, p {
    word-break: break-all;
}